<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="users"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeMd="4" offsetMd="4">
        <ion-card *ngIf="character">
          <img src="{{character.image}}" />
          <ion-card-header>
            <ion-card-title>{{character.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{character.species}} - {{character.gender}} - {{character.status}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
